<p class="text-success"><%= notice %></p>

<h1 class="ms-3">News</h1>

<div class="ms-3">
  <%= link_to "New News", new_admin_news_path, class: 'btn btn-primary' %>
</div>

<div id="admin_news" class="mt-3">
  <% @admin_news.each do |admin_news| %>
    <%= render admin_news %>
  <% end %>
</div>

