<div class="container">
  <h1 class='mt-3'>New News</h1>

  <%= render "form", admin_news: @admin_news %>

  <br>

  <div class="mt-3">
    <%= button_to "Back to news", admin_news_index_path, class: 'btn btn-secondary' %>
  </div>
</div>
