<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-3" href="/">React news feed</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Главная', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Новости', news_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>